BasedOnStyle: Google
IndentWidth: 2

# I like pointers aligned to the left
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
UseTab: Never
AlwaysBreakTemplateDeclarations: true

ColumnLimit: 120
